.btn-save {
  border: none;
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-save-save:focus {
  outline: none;
}
.btn-save:active {
  transform: scale(0.98);
}

.add-form {
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.form-control {
  display: block;
  margin: 5px 1%;
  height: 100%;
}

.form-control label {
  display: block;
  margin: 5px 10px 5px 0;
}

.form-control input {
  display: block;
  margin: 5px 10px 5px 0;
  padding: 10px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
